<div class="message">
    <div class="py-3 pb-5 mr-3 float-left">
        <div class="avatar">
            <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            <span class="avatar-status badge-success"></span>
        </div>
    </div>
    <div class="digi-meesage">
        <div class="digi-message-name">
            <small class="font-weight-bold">{{data.Nombre}}</small>
        </div>
        <div class="digi-message-menu-trash">
          <small class="text-muted float-right mt-1">{{data.Fecha | date:'yyyy-MM-dd'}}</small>

          <button ng-if="publisher == data.IdUsuario" type="button" ng-click="deleteMSJ()"class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o "></i>&nbsp;</button>
        </div>
    </div>
    <div class="text-truncate font-weight-bold">"Comentario"</div>
    <small class="text-muted">{{data.DetalleComentario}}</small>
    <hr>
</div>
