<div class="col-sm-12 col-md-12 ">
  <div class="card digi-shadow">
    <div class="card-header header-tutorial">
      <h4>{{post.pub.name | camelCase}}</h4>
      <div class=""  ng-if="post.tutorial && user.id != post.pub.id">
        <button type="button" ng-hide="alreadySubscribed" ng-click="signin(true)" class="btn btn-info">Inscribirse</button>
        <button type="button" ng-show="alreadySubscribed"  ng-click="signin(false)"class="btn btn-danger">Darse de Baja</button>
      </div>
    </div>
    <div class=" callout callout-info card-block digi-card-block" ng-class="post.tutorial  ? 'callout-info' : 'callout-success'">
      <div class="digi-card-block-content">
        <div class="tutorial-detail">
          <h5>{{post.tutorialName}}</h5>
          <div class="digi-items-align">
            <p>{{post.courseName}}</p>
            <p>{{post._college.name}}</p>
          </div>
          <p>{{post.tutorialDescriptiom}}</p>
          <div class="digi-items-align" ng-if="post.tutorial">
            <p><strong><i class="icon-calendar"></i>&nbsp;Fecha Inicio:</strong> {{post.startDate  | date:'short'}}</p>
            <p><strong><i class="icon-location-pin"></i>&nbsp;Lugar:</strong> {{post.place }}</p>

          </div>

          <div class="digi-items-align" ng-if="post.tutorial">
            <div class="digi-flags">
              <p><strong>Pago:</strong> <span ng-hide="post.payment" class="badge badge-danger">NO</span>  <span ng-show="post.payment" class="badge badge-success">SÍ</span></p>
            </div>
            <div class="digi-flags">
              <p><strong>Virtual:</strong><span ng-hide="post.virtual" class="badge badge-danger ">NO</span>   <span ng-show="post.virtual" class="badge badge-success">SÍ</span></p>
            </div>
            <div class="digi-flags">
              <p><strong>Participantes:</strong>  <span class="badge badge-default">{{post.participants}}</span></p>
            </div>
          </div>

        </div>

        <div class="tutorial-files">
          <div class="digifile">
              <strong><i class="fa fa-file-pdf-o pdf"></i>&nbsp;<a target="_blank" ng-href="{{pdf_url}}"> PDF</a> </strong>{{post.addons.pdf}}
          </div>
          <div class="digifile">
              <strong><i class="fa fa-file-word-o doc"></i>&nbsp; <a target="_blank" ng-href="{{word_url}}" > DOC </a></strong>{{post.addons.doc}}
          </div>
          <div class="digifile">
              <strong><i class="fa fa-file-powerpoint-o ppt"></i>&nbsp;<a target="_blank" ng-href="{{ppt_url}}">  PPT</a> </strong>{{post.addons.ppt}}
          </div>
          <div class="digifile">
              <strong><i class="fa fa-file-excel-o xls"></i>&nbsp;<a target="_blank" ng-href="{{xls_url}}" > XLS </a></strong>{{post.addons.xls}}
          </div>
          <div class="digifile">
            <strong><i class="fa fa-github git"></i>&nbsp; GIT</strong> {{post.addons.github}}
          </div>
        </div>


        <hr class="mx-3 my-0"></hr>
      </div>
      <div class="">
        <div class="tutorial-video">
            <youtube player-options="post.YouTube" id="myYoutubePlayer"></youtube>
        </div>
      </div>
      <div class="comments-bar">
        <div class="">
          <button type="button" ng-click="likeThisPost(1)" class="btn btn-outline-success btn-sm"><strong><i class="fa fa-thumbs-up "></i>&nbsp; {{post.like}}</strong></button>
          <button type="button" ng-click="likeThisPost(0)" class="btn btn-outline-danger btn-sm">  <strong><i class="fa fa-thumbs-down "></i>&nbsp;{{post.dislike}}</strong></button>

        </div>
        <div class="card-footer-bar">
          <button type="button" class="btn btn-secondary " ng-click="getComments(post)">
            <strong><i class="fa fa-commenting-o "></i>&nbsp;Comentarios</strong>
          </button>
        </div>

      </div>
      <div class="card-footer-content">
        <div class="card-message m-0 py-3" ng-if="showComments">
          <div class="input-group">
              <input type="text" id="input2-group2" name="input2-group2" ng-model="new_message"class="form-control" placeholder="cometario">
              <span class="input-group-btn">
                  <button type="button" ng-click="sendMessage(new_message)"class="btn btn-primary">Comentar</button>
              </span>
          </div>
          <hr class="">

          <div class="digi-messages-history" >
              <message data="comment" publisher="user.id"  ng-repeat="comment in post.comments | orderBy:'-Fecha'"></message>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
