// Here you can add other styles
.digi-switch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}

.digi-switch{
  .digi-admin-label{
    margin: 2%;
  }
  .digi-admin-label  {
      &.digi-unselected-admin{
      color: #CCCCCC;
      margin: 2%;
    }
  }
  .digi-admin-label {
    &.digi-selected-admin{
      margin: 2%;
    }
  }
  .switch .switch-3d .switch-primary{
    margin: 2%;
  }
}


// to justify content center
.col-6{
  &.justify-center{
    display: flex;
    justify-content: center;
  }
}

.input-group{
  &.mb-3{
    &.digi-input-select{
        display: flex;
        justify-content: space-between;
    }
  }
}

.input-group{
  &.mb-3{
    &.photo-description{
      display: flex;
      align-content: space-between;
      justify-content: space-between;
    }
  }
}

.digi-user-description{
  width: 50%;
  textarea{
    width: 100%;
  }
}

.digi-skills-container{
  height: 300px;

  margin-bottom: 4%;
}
.digi-skill-category-container{
  height: 300px;
  overflow-y: scroll;
  padding: 1%;
  .selector-skill{
    padding: 1.5%;
  }
}
.col-md-9{
  &.cheks-align{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}


.animated{
  &.fadeIn {
    &.digi-dash-board{
      .digi-dash-container{
          background: #E2E2E2;
          height: 800px;
          overflow-y: scroll;
      }
      .digi-user-container{
          background: #D2D2D2;
          height: 800px;
          overflow-y: scroll;
          padding: 1%;
      }
    }
  }
}


.tab-content{
  &.digi-user-tab-content{
    //overflow-y: scroll;
  }
}
.digi-tutor-main-menu{
  height: 10%;
  //background: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.digi-tutor-feed{
  //height: 90%;
  background: white;
}

.digi-tutor-main-menu{
  .btn {
    &.btn-primary{
      &.btn-lg{
        height: 50px;
      }
    }
    &.btn-secondary{
      &.btn-lg{
        height: 50px;
      }
    }
  }
}


.card-header {
  &.header-tutorial{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.digi-items-align{
  display: flex;
  justify-content: space-between;
}


.digi-flags{
  p{
    span{
      &.badge{
        &.badge-danger{
        }
        font-size: 0.9em;
        &.badge-success{
          font-size: 0.9em;
        }
        &.badge-default{
          font-size: 0.9em;
        }
      }
    }
  }
}


.callout {
  &.callout-info {
    &.card-block{
      &.digi-card-block{
          padding: 0;
          margin: 0;
          .digi-card-block-content{
            padding: 3%;
          }
      }
    }
  }
}

.tutorial-files{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.digifile{
    strong{
      i{
        &.fa{
          &.fa-file-pdf-o{
            &.pdf{
              color: #f86c6b;
            }
          }
          &.fa-file-word-o{
            &.doc{
              color: #20a8d8;
            }
          }
          &.fa-file-powerpoint-o{
            &.ppt{
              color: #ff5733;
            }
          }
          &.fa-file-excel-o{
            &.xls{
              color: #4dbd74;
            }
          }
          &.fa-github{
            &.git{
              color: #b0bec5;
            }
          }
        }
      }
    }
}
.tutorial-detail{
  margin-bottom: 3%;
}

digipost{
  width:500px;
}

.tutorial-video{
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}

.comments-bar{
  display: flex;
  justify-content: space-between;
  background: #eceff1;
  padding: 1%;
  font-size: 1em;
  align-items: center;
  div {
    strong {
      i{
        &.fa {
          &.fa-thumbs-up {
            color: #4dbd74;
          }
          &.fa-thumbs-down{
            color: #f86c6b;
          }
        }
      }
    }
  }

}
.card-message{
  padding: 1%;
}

.digi-meesage{
  display: flex;
  justify-content: space-between;
  .digi-message-menu-trash{
    display: flex;
    justify-content: space-around;
    width: 35%;
  }
}

.digi-messages-history{
  display: flex;
  flex-direction: column;

}
.row{
  &.dash-digipost{
    display: flex;
    justify-content: center;
    padding: 2%;
  }
}

.digi-skills{
  padding: 2%;
}

.digi-shadow{
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.digi-center-content{
  display: flex;
  justify-content: center;
  padding: 2%;
}

.digi-center-profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dropdown2::after{
  display: none;
}

.row {
  &.digi-switches{
    display: flex;
    justify-content: space-around;
  }
}

.docs {
  padding-right: 3%;
  .input-group{
    margin: 2%;

  }
}


.card-body {
  &.digi-result{
    overflow-x: scroll;
  }
}
