<ul class="">
    <li class="">
        <a class="" ui-sref-active="active" ui-sref="components.buttons">
             Buttons</a>
    </li>
    <li class="">
        <a class="" ui-sref-active="active" ui-sref="components.social-buttons">
             Social Buttons</a>
    </li>
    <li class="">
        <a class="" ui-sref-active="active" ui-sref="components.cards">
            Cards</a>
    </li>
    <li class="">
        <a class="" ui-sref-active="active" ui-sref="components.forms">
             Forms</a>
    </li>
    <li class="">
        <a class="" ui-sref-active="active" ui-sref="components.switches">
             Switches</a>
    </li>
    <li class="">
        <a class="" ui-sref-active="active" ui-sref="components.tables">
             Tables</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="tools.widgets"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="tools.charts"><i class="icon-pie-chart"></i> Charts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.login"><i class="icon-star"></i> Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.register"><i class="icon-star"></i> Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.404"><i class="icon-star"></i> Error 404</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.500"><i class="icon-star"></i> Error 500</a>
    </li>
</ul>
