<div class="row animated fadeIn digi-dash-board">
  <div class="col-md-8 col-sm-12 digi-dash-container">
    <div class="digi-tutor-main-menu">
      <h1>Reporte</h1>
    </div>

    <div class="card">
      <div class="card-header">
        <strong>Criterios del Reporte</strong>
      </div>
      <div class="card-body digi-skills">
        <form action="" method="post" class="form-horizontal">
            <p ng-if="errorRegister" style="color:red;">Datos invalidos</p>
          <div class="row">
            <div class="form-group col-sm-6">
              <span class="input-group-addon">
                <i class="icon-map"></i>
              </span>
              <select ng-model="paiss" class="form-control" ng-options="pais as pais for pais in paises | orderBy:pais" required>
                <option value="">Seleccione un país</option>
              </select>
            </div>
            <div class="form-group col-sm-6">
              <span class="input-group-addon">
                <i class="icon-map"></i>
              </span>
              <select class="form-control" ng-init="collegeId=colleges[0]" ng-model="universidad" ng-options="universidad as universidad.Nombre for universidad in colleges | filter:paiss">
                <option value="">Seleccione una universidad</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-8">
              <label for="habilidad1">Habilidad 1:</label>
              <select id="habilidad1" name="habilidad1" class="form-control" ng-init="abilityId1=abilities[0]" ng-model="abilityId1" ng-options="ability as ability.Nombre for ability in abilities">

                <option value="">Seleccione una habilidad</option>
              </select>
            </div>

            <div class="form-group col-sm-4">
              <label for="peso1">Peso:</label>
              <input type="number" id="peso1" ng-model="peso1" class="form-control" placeholder="Ingrese el peso">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-8">
              <label for="habilidad2">Habilidad 2:</label>
              <select id="habilidad2" name="habilidad2" class="form-control" ng-init="abilityId2=abilities[0]" ng-model="abilityId2" ng-options="ability as ability.Nombre for ability in abilities">
                <option value="">Seleccione una habilidad</option>
              </select>
            </div>

            <div class="form-group col-sm-4">
              <label for="peso2">Peso:</label>
              <input type="number" id="peso2" ng-model="peso2" class="form-control" placeholder="Ingrese el peso">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-8">
              <label for="habilidad3">Habilidad 3:</label>
              <select id="habilidad3" name="habilidad3" class="form-control" ng-init="abilityId3=abilities[0]" ng-model="abilityId3" ng-options="ability as ability.Nombre for ability in abilities">
                <option value="">Seleccione una habilidad</option>
              </select>
            </div>

            <div class="form-group col-sm-4">
              <label for="peso3">Peso:</label>
              <input type="number" id="peso3" ng-model="peso3" class="form-control" placeholder="Ingrese el peso">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-8">
              <label for="habilidad4">Habilidad 4:</label>
              <select id="habilidad4" name="habilidad4" class="form-control" ng-init="abilityId4=abilities[0]" ng-model="abilityId4" ng-options="ability as ability.Nombre for ability in abilities">
                <option value="">Seleccione una habilidad</option>
              </select>
            </div>

            <div class="form-group col-sm-4">
              <label for="peso4">Peso:</label>
              <input type="number" id="peso4" ng-model="peso4" class="form-control" placeholder="Ingrese el peso">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-8">
              <label for="resultados">Cantidad de Resultados:</label>
              <input type="number" id="resultados" ng-model="numResultados" class="form-control" placeholder="Ingrese la cantidad de resultados">
            </div>
          </div>
        </form>
      </div>




      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" ng-click="generateReport()"><i class="fa fa-dot-circle-o"></i> Generar Reporte</button>
        <button type="reset" class="btn btn-sm btn-danger" ><i class="fa fa-eraser"></i> Limpiar</button>

      </div>
    </div>
    <button pdf-save-button="idTwo" pdf-name="paraelprofe.pdf" class="btn">Guardar</button>
    <div class="card" pdf-save-content="idTwo">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Resultados
      </div>
      <div class="card-body digi-result">
        <table class="table table-bordered table-striped ">
          <thead>
            <tr>
              <th>Posición</th>
              <th>Nombre y Apellido</th>
              <th>Teléfono Movil</th>
              <th>Teléfono Fijo</th>
              <th>Correo Electrónico</th>
              <th>Correo Electrónico 2</th>
              <th>Universidad</th>
              <th>Total Seguidores</th>
              <th>Total Publicaciones</th>
              <th>Reputación </th>
              <th>Tecnologías que domina</th>
              <th>Nota Final Algoritmo</th>
            </tr>
          </thead>
          <tbody ng-model="listaTutores" ng-repeat="item in listaTutores ">

            <tr>
              <td>{{item.position}}</td>
              <td>{{item.name}} </td>
              <td>{{item.mobilePhone}} </td>
              <td>{{item.homePhone}} </td>
              <td>{{item.email}} </td>
              <td>{{item.email2}} </td>
              <td>{{item.college}} </td>
              <td>{{item.followers}} </td>
              <td>{{item.publications}} </td>
              <td>
                <small class="ng-binding">
                  <i class="fa fa-bar-chart"></i>&nbsp; {{item.reputation}} <strong>%</strong>
                </small>
              </td>

              <td>
                <select id="select" name="select" class="form-control" >
                  <option value="" ng-repeat="skill in item.skills"> {{skill}} </option>
                </select></td>
                <td>
                  <span class="badge badge-success">{{item.score}} </span>
                </td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>


    </div>


    <div class="col-md-4 col-sm-12 digi-user-container">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a tab class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="icon-list"></i></a>
        </li>
        <li class="nav-item">
          <a tab class="nav-link" data-toggle="tab" href="#settings" role="tab"><i class="icon-settings"></i></a>
        </li>
      </ul>
      <div class="tab-content digi-user-tab-content">
        <div class="tab-pane active" id="timeline" role="tabpanel">
          <div class="callout m-0 py-2 text-muted text-center bg-faded text-uppercase digi-center-profile">
            <small>
              <b>Perfil Administrador</b>
            </small>
            <button type="button"  ui-sref="appSimple.login" class="btn btn-sm btn-info">Cerrar Sesión</button>
          </div>
          <hr class="transparent mx-3 my-0">
          <div class="callout callout-warning m-0 py-3">
            <div class="avatar float-right">
              <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            </div>
            <div>
              <h3>
                Administrador:
                <strong class="text-muted">{{user.name}}</strong>
              </h3>
            </div>
          </div>
          <div class="">
            <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp;Desde: {{user.since | date:'short' }}</small>
            <div class="digi-flags">
              <div>
                <!--<div class="">
                <strong><i class="fa fa-at"></i>&nbsp;Apellido: </strong>{{user.lastname}}
              </div>-->
              <div class="">
                <strong><i class="fa fa-at"></i>&nbsp;Email 1: </strong>{{user.email1}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
