<div class="row animated fadeIn digi-dash-board">

  <div class="col-md-8 col-sm-12 digi-dash-container">


    <div class="digi-tutor-feed">
      <!-- card -->
      <div class="row dash-digipost">
        <!-- message -->
        <div ng-if="alertSubscription" class="col-sm-8 col-md-8">
          <div class="card  card-accent-danger text-center">
            <div class="card-body">
              <blockquote class="card-bodyquote">
                <h3>Parece que no está suscrito a  <strong>{{user.name}}</strong>.</h3>
                <strong>Desea suscribirse  a  {{user.name}}. </strong>
                <br>
                <cite title="Source Title">Recibirá las publicaciones hechas por {{user.name}}</cite>
                <footer>
                  <button type="button" ng-click="subscribe()" class="btn btn-outline-primary">Suscribirme</button>
                  <button type="button"  ng-click="cancel()" class="btn btn-outline-secondary">Cancelar</button>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
        <!-- -->
        <digipost data="post" user="user" myposts="true" ng-repeat="post in posts" > </digipost>
      </div>
    </div>

  </div>
  <div class="col-md-4 col-sm-12 digi-user-container">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a tab class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="icon-list"></i></a>
      </li>

      <li class="nav-item">
        <a tab class="nav-link" data-toggle="tab" href="#settings" role="tab"><i class="icon-settings"></i></a>
      </li>
    </ul>
    <div class="tab-content digi-user-tab-content">
      <div class="tab-pane active" id="timeline" role="tabpanel">
        <div class="callout m-0 py-2 text-muted text-center bg-faded text-uppercase digi-center-profile">
          <small><b>Consultar pefil</b>
          </small>
          <!--<button type="button" ui-sref="appSimple.login" class="btn btn-sm btn-info">Cerrar sesión</button>-->
        </div>
        <hr class="transparent mx-3 my-0">
        <div class="callout callout-warning m-0 py-3">
          <div class="avatar float-right">
            <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          </div>
          <div>
            <h3 >Tutor:
              <strong class="text-muted">{{user.name}}</strong>
            </h3>

          </div>

        </div>
        <div class="">
          <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp;Desde: {{user.since | date:'short' }}</small>
          <div class="digi-flags">
            <p>
              <strong>Reputación:</strong>
              <span class="badge badge-info">
                <small class="">
                  <i class="fa fa-bar-chart"></i>&nbsp; {{user.reputacion}} <strong>%</strong>
                </small>
              </span>
            </p>
            <p>
              <strong>País:</strong>
              <span class="badge badge-success">
                <small class="">
                  <i class="fa fa-map-o"></i>&nbsp; {{user.country}}
                </small>
              </span>
            </p>
            <div>
              <div class="">
                <strong>  <i class="fa fa-institution"></i>&nbsp; Universidad: </strong> {{user._college.name}}
              </div>
              <div class="">
                <strong>  <i class="fa fa-credit-card"></i> Identificación: </strong>{{user.carne}}
              </div>
              <div class="">
                <strong><i class="fa fa-at"></i>&nbsp;Email 1: </strong>{{user.email1}}
              </div>
              <div class="">
                <strong><i class="fa fa-at"></i>&nbsp;Email 2: </strong>{{user.email2}}
              </div>
              <div class="">
                <strong><i class="fa fa-phone"></i>&nbsp;Teléfono: </strong>{{user.phone}}
              </div>

            </div>
            <div class=" callout callout-info digi-skills">
              <h4>Habilidades</h4>
              <div class="card-block">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Habilidad</th>
                      <th>Categoría</th>
                      <th>Puntaje:</th>
                      <th>Apoyar:</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="skill in user.skills">
                    <tr>
                      <td>{{skill.name}}</td>
                      <td>
                        <span class="badge badge-default">{{skill.category}}</span>
                      </td>
                      <td>
                        {{skill.puntutacion}}
                      </td>
                      <td>
                        <button type="button" class="btn btn-outline-success btn-sm" ng-click="support(skill)">
                          <i class="icon-check icons font-2xl d-block mt-4"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--<ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a>
              </li>
              <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">4</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">Next</a>
    </li>
  </ul>-->
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane p-3" id="settings" role="tabpanel">
  <h6>Settings</h6>

  <div class="aside-options">
    <div class="clearfix mt-4">
      <small><b>Option 1</b>
      </small>
      <label class="switch switch-text switch-pill switch-success switch-sm float-right">
        <input type="checkbox" class="switch-input" checked>
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
    </div>
    <div>
      <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
    </div>
  </div>

  <div class="aside-options">
    <div class="clearfix mt-3">
      <small><b>Option 2</b>
      </small>
      <label class="switch switch-text switch-pill switch-success switch-sm float-right">
        <input type="checkbox" class="switch-input">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
    </div>
    <div>
      <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
    </div>
  </div>

  <div class="aside-options">
    <div class="clearfix mt-3">
      <small><b>Option 3</b>
      </small>
      <label class="switch switch-text switch-pill switch-success switch-sm float-right">
        <input type="checkbox" class="switch-input">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
    </div>
  </div>

  <div class="aside-options">
    <div class="clearfix mt-3">
      <small><b>Option 4</b>
      </small>
      <label class="switch switch-text switch-pill switch-success switch-sm float-right">
        <input type="checkbox" class="switch-input" checked>
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
    </div>
  </div>

  <hr>
  <h6>System Utilization</h6>

  <div class="text-uppercase mb-1 mt-4">
    <small><b>CPU Usage</b>
    </small>
  </div>
  <div class="progress progress-xs">
    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <small class="text-muted">348 Processes. 1/4 Cores.</small>

  <div class="text-uppercase mb-1 mt-2">
    <small><b>Memory Usage</b>
    </small>
  </div>
  <div class="progress progress-xs">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <small class="text-muted">11444GB/16384MB</small>

  <div class="text-uppercase mb-1 mt-2">
    <small><b>SSD 1 Usage</b>
    </small>
  </div>
  <div class="progress progress-xs">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <small class="text-muted">243GB/256GB</small>

  <div class="text-uppercase mb-1 mt-2">
    <small><b>SSD 2 Usage</b>
    </small>
  </div>
  <div class="progress progress-xs">
    <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <small class="text-muted">25GB/256GB</small>
</div>
</div>
</div>
</div>
