<div class="row animated fadeIn digi-dash-board">

  <div class="col-md-8 col-sm-12 digi-dash-container">
    <div class="digi-tutor-main-menu">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="setContentType('tutorial')">Crear tutoría</button>

      <button type="button" class="btn btn-secondary btn-lg"  data-toggle="modal" data-target="#myModal" ng-click="setContentType('academic')">Compartir contenido</button>
    </div>
    <div class="digi-tutor-feed">
      <!-- card -->
      <div class="row dash-digipost">
        <digipost data="post" user="user" ng-repeat="post in posts | orderBy:'-datePosted'"  > </digipost>
      </div>


    </div>

  </div>
  <div class="col-md-4 col-sm-12 digi-user-container">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a tab class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="icon-list"></i></a>
      </li>

      <li class="nav-item">
        <a tab class="nav-link" data-toggle="tab" href="#settings" role="tab"><i class="icon-settings"></i></a>
      </li>
    </ul>
    <div class="tab-content digi-user-tab-content">
      <div class="tab-pane active" id="timeline" role="tabpanel">
        <div class="callout m-0 py-2 text-muted text-center bg-faded text-uppercase digi-center-profile">
          <small><b>Mi perfil</b>
          </small>
          <button type="button" ui-sref="appSimple.login" class="btn btn-sm btn-info">Cerrar sesión</button>
        </div>
        <hr class="transparent mx-3 my-0">
        <div class="callout callout-warning m-0 py-3">
          <div class="avatar float-right">
            <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          </div>
          <div>
            <h3 >Tutor:
              <strong class="text-muted">{{user.name}}</strong>
            </h3>

          </div>

        </div>
        <div class="">
          <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp;Desde: {{user.since | date:'short' }}</small>
          <div class="digi-flags">
            <p>
              <strong>Reputación:</strong>
              <span class="badge badge-info">
                <small class="">
                  <i class="fa fa-bar-chart"></i>&nbsp; {{user.reputacion}} <strong>%</strong>
                </small>
              </span>
            </p>
            <p>
              <strong>País:</strong>
              <span class="badge badge-success">
                <small class="">
                  <i class="fa fa-map-o"></i>&nbsp; {{user.country}}
                </small>
              </span>
            </p>
            <div>
              <div class="">
                <strong>  <i class="fa fa-institution"></i>&nbsp; Universidad: </strong> {{user._college.name}}
              </div>
              <div class="">
                <strong>  <i class="fa fa-credit-card"></i> Identificación: </strong>{{user.carne}}
              </div>
              <div class="">
                <strong><i class="fa fa-at"></i>&nbsp;Email 1: </strong>{{user.email1}}
              </div>
              <div class="">
                <strong><i class="fa fa-at"></i>&nbsp;Email 2: </strong>{{user.email2}}
              </div>
              <div class="">
                <strong><i class="fa fa-phone"></i>&nbsp;Teléfono: </strong>{{user.phone}}
              </div>

            </div>
            <div class=" callout callout-info digi-skills">
              <h4>Habilidades</h4>
              <div class="card-block">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Habilidad</th>
                      <th>Categoría</th>
                      <th>Puntaje</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="skill in user.skills">
                    <tr>
                      <td>{{skill.name}}</td>
                      <td>
                        <span class="badge badge-default">{{skill.category}}</span>
                      </td>
                      <td>
                        {{skill.puntutacion}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--<ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a>
              </li>
              <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">4</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">Next</a>
    </li>
  </ul>-->
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane p-3" id="settings" role="tabpanel">
  <h6>Settings</h6>

  <div class="aside-options">
    <div class="clearfix mt-4">
      <small><b>Option 1</b>
      </small>
      <label class="switch switch-text switch-pill switch-success switch-sm float-right">
        <input type="checkbox" class="switch-input" checked>
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
    </div>
    <div>
      <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
    </div>
  </div>

  <div class="aside-options">
    <div class="clearfix mt-3">
      <small><b>Option 2</b>
      </small>
      <label class="switch switch-text switch-pill switch-success switch-sm float-right">
        <input type="checkbox" class="switch-input">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
    </div>
    <div>
      <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
    </div>
  </div>

  <div class="aside-options">
    <div class="clearfix mt-3">
      <small><b>Option 3</b>
      </small>
      <label class="switch switch-text switch-pill switch-success switch-sm float-right">
        <input type="checkbox" class="switch-input">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
    </div>
  </div>

  <div class="aside-options">
    <div class="clearfix mt-3">
      <small><b>Option 4</b>
      </small>
      <label class="switch switch-text switch-pill switch-success switch-sm float-right">
        <input type="checkbox" class="switch-input" checked>
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
    </div>
  </div>

  <hr>
  <h6>System Utilization</h6>

  <div class="text-uppercase mb-1 mt-4">
    <small><b>CPU Usage</b>
    </small>
  </div>
  <div class="progress progress-xs">
    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <small class="text-muted">348 Processes. 1/4 Cores.</small>

  <div class="text-uppercase mb-1 mt-2">
    <small><b>Memory Usage</b>
    </small>
  </div>
  <div class="progress progress-xs">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <small class="text-muted">11444GB/16384MB</small>

  <div class="text-uppercase mb-1 mt-2">
    <small><b>SSD 1 Usage</b>
    </small>
  </div>
  <div class="progress progress-xs">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <small class="text-muted">243GB/256GB</small>

  <div class="text-uppercase mb-1 mt-2">
    <small><b>SSD 2 Usage</b>
    </small>
  </div>
  <div class="progress progress-xs">
    <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <small class="text-muted">25GB/256GB</small>
</div>
</div>
</div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Crear Tutoría</h4>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <strong>Tutoría</strong>
            <small>Creación</small>
          </div>
          <div class="card-body">
            <!-- Asignar un título -->
            <div class="form-group">
              <label for="company">Título</label>
              <input type="text" class="form-control" ng-model="content_post.Title" id="tutorial_title"  placeholder="Ingresa el título de la tutoría">
            </div>
            <!-- Asignar una descripción -->
            <div class="form-group">
              <label for="vat">Descripción</label>
              <textarea  rows="4" class="form-control" id="tutorial_description" ng-model="content_post.Description" placeholder="Ingresa un descripción"> </textarea>
            </div>
            <div class="form-group">
              <!-- Asignar un curso -->
              <label for="street">Curso</label>
              <input type="text" class="form-control" id="tutorial_course_name" ng-model="content_post.Course" ng-value="content_post.Course | date:'short'" placeholder="Nombre del curso asociado a esta tutoría">
            </div>
            <!-- Asignar una fecha y hora -->
            <div class="form-group">
              <label for="country">Fecha y hora</label>
              <div class="dropdown dropdown1-parent">
                <div class="dropdown">
                  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="dropdown1-parent" href="#">
                    <div class="input-group"><input type="text" placeholder="Ingrese una fecha aquí"  ng-model="content_post.StartDate" class="form-control" ><span class="input-group-addon"><i class="icon-calendar icons"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="content_post.StartDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Asignar un país -->
            <div class="form-group">
              <label for="country">País</label>
              <input type="text" class="form-control" id="country" placeholder="País">
            </div>
            <!-- Asignar un Lugar/Sitio Web-->
            <div class="form-group">
              <label for="country">Lugar/Sitio Web</label>
              <input type="text" ng-model="content_post.Site" class="form-control" id="country" placeholder="Sitio">
            </div>
            <!--  Asignar  pago y virtual -->
            <div class="row digi-switches">
              <div class="form-group">
                <label for="country">Tutoría de paga: </label>
                <label class="switch switch-text switch-pill switch-primary">
                  <input type="checkbox"  ng-model="content_post.Payment" class="switch-input" checked="content_post.Payment">
                  <span class="switch-label" data-on="Sí" data-off="No"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <div class="form-group">
                <label for="country">Tutoría Virtual: </label>
                <label class="switch switch-text switch-pill switch-primary">
                  <input type="checkbox" ng-model="content_post.Virtual" class="switch-input" checked="content_post.Payment">
                  <span class="switch-label" data-on="Sí" data-off="No"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <!-- Asignar docs-->
            <div  class=" form-group docs">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-secondary"><i class="icon-social-youtube"></i> YouTube</button>
                </span>
                <input type="text" ng-model="content_post.YouTube"  id="input1-group2" name="input1-group2" class="form-control" placeholder="YouTube">
              </div>
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-secondary"><i class="fa fa-github git"></i>&nbsp; GitHub</button>
                </span>
                <input type="text" ng-model="content_post.GitHub"  id="input1-group2" name="input1-group2" class="form-control" placeholder="GitHub">
              </div>

              <div class="input-group">
                <input class="btn btn-secondary"  type="button" ng-click="uploadFiles()" value="Word" />
                <input  class="btn btn-secondary" type="file" id="file1" name="file" multiple
                ng-files="getTheFiles($files)" />
              </div>

              <div class="input-group">
                <input class="btn btn-secondary"  type="button" ng-click="uploadFiles()" value="PDF" />
                <input  class="btn btn-secondary" type="file" id="file1" name="file" multiple
                ng-files="getTheFiles($files)" />
              </div>

              <div class="input-group">
                <input class="btn btn-secondary"  type="button" ng-click="uploadFiles()" value="PPT" />
                <input  class="btn btn-secondary" type="file" id="file1" name="file" multiple
                ng-files="getTheFiles($files)" />
              </div>

              <div class="input-group">
                <input class="btn btn-secondary"  type="button" ng-click="uploadFiles()" value="Xls" />
                <input  class="btn btn-secondary" type="file" id="file1" name="file" multiple
                ng-files="getTheFiles($files)" />
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="create_post()" >Aceptar</button>
        </div>
      </div>

    </div>
  </div>
