﻿
<div class="digi-tutor-main-menu">
    <h1>Búsqueda</h1>
</div>

<div class="card">
    <div class="card-header">
        <strong>Criterios del Reporte</strong>
    </div>
    <div class="card-body digi-skills">
        <form action="" method="post" class="form-horizontal">

            <div class="row">
                <div class="form-group col-sm-4">
                    <span class="input-group-addon">
                        <i class="icon-map"> Universidad</i>
                    </span>
                    <select class="form-control" ng-init="collegeId=colleges[0]" ng-model="universidad" ng-options="universidad as universidad.Nombre for universidad in colleges | filter:paiss">
                        <option value="">Seleccione una universidad</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <span class="input-group-addon">
                        <i class="icon-user"> Nombre</i>
                    </span>
                    <input type="text" class="form-control" ng-model="name" placeholder="Nombre">
                </div>
                <div class="form-group col-sm-4">
                    <span class="input-group-addon">
                        <i class="icon-credit-card"> Carnet</i>
                    </span>
                    <input type="number" class="form-control" ng-model="carnet" placeholder="Carnet">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="habilidad1">Habilidad 1:</label>
                    <select id="habilidad1" name="habilidad1" class="form-control" ng-init="abilityId1=abilities[0]" ng-model="abilityId1"  ng-options="ability as ability.Nombre for ability in abilities">
                        <option value="">Seleccione una habilidad</option>
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <label for="habilidad2">Habilidad 2:</label>
                    <select id="habilidad2" name="habilidad2" class="form-control" ng-init="abilityId2=abilities[0]" ng-model="abilityId2" ng-options="ability as ability.Nombre for ability in abilities">
                        <option value="">Seleccione una habilidad</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <label for="habilidad3">Habilidad 3:</label>
                    <select id="habilidad3" name="habilidad3" class="form-control" ng-init="abilityId3=abilities[0]" ng-model="abilityId3" ng-options="ability as ability.Nombre for ability in abilities">
                        <option value="">Seleccione una habilidad</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" ng-click="searchUser()"> <i class="fa fa-dot-circle-o"></i> Buscar</button>
        <button type="reset" class="btn btn-sm btn-danger" ><i class="fa fa-eraser"></i> Limpiar</button>
    </div>
</div>
<button pdf-save-button="idOne" pdf-name="paraelprofe.pdf" class="btn">Guardar</button>
<div class="card" >
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Resultados
    </div>
    <div class="card-body digi-result">
        <table class="table table-bordered table-striped " pdf-save-content="idOne">
            <thead>
                <tr>
                    <th>Nombre y Apellido</th>
                    <th>País</th>
                    <th>Universidad</th>
                    <th>Reputación</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in listaTutores ">
                <tr>
                    <td><button type="button" ui-sref="app.lookUser({'userId':item.UserId})" class="btn btn-outline-secondary btn-sm">{{item.name}} </button></td>
                    <td>{{item.country}} </td>
                    <td>{{item.college}} </td>
                    <td>
                        <small class="ng-binding">
                            <i class="fa fa-bar-chart"></i>&nbsp; {{item.score}} <strong>%</strong>
                        </small>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
