<footer class="app-footer">
    <a href="http://digitutor.azurewebsites.net">Digi-Tutor</a> &copy; 2017 JAMS.
    <span class="float-right">Powered by <a href="https://fabiancetec.org">JAMS</a>
    </span>
</footer>
