<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Panel de Control </a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                DigiTutor
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('tools.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('tools.components')}" href="#"><i class="icon-puzzle"></i> Usuario</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-puzzle"></i> ITEM 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-puzzle"></i> ITEM 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-puzzle"></i> ITEM 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-puzzle"></i> ITEM 4</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-puzzle"></i> ITEM 5</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-puzzle"></i> ITEM 6</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('tools.icons')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('tools.icons')}" href="#"><i class="icon-star"></i> ITEM 7</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-star"></i> ITEM 8</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-star"></i> ITEM 9</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ><i class="icon-calculator"></i> ITEM 10 <span class="badge badge-info">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ><i class="icon-pie-chart"></i> ITEM 11</a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                ITEM 12
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.pages')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.pages')}" href="#"><i class="icon-star"></i> ITEM 13</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-star"></i> ITEM 14</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-star"></i> ITEM 15</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-star"></i> ITEM 16</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ><i class="icon-star"></i> ITEM 17</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
