<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <h1>Registrarse</h1>
                        <p class="text-muted">Crea tu Cuenta</p>
                        <div class="animated fadein">
                          <div class="digi-switch">

                              <p class="digi-admin-label"  ng-class="checkAdminUser  ? 'digi-selected-admin' : 'digi-unselected-admin'">
                                Administrador
                              </p>
                              <label class="switch switch-3d switch-primary" >
                                  <input type="checkbox" class="switch-input" ng-model="checkAdminUser">
                                  <span class="switch-label"></span>
                                  <span class="switch-handle"></span>
                              </label>

                          </div>
                        </div>
                        <span>Valid: Form: {{digi-reg-form.$valid}}</span>
                        <p ng-if="errorRegister" style="color:red;">Datos invalidos</p>
                        <form class="" name="digi-reg-form" method="post">
                          <div class="input-group mb-3">
                              <span class="input-group-addon"><i class="icon-user"></i>
                              </span>
                              <input type="text" ng-model="name" class="form-control" placeholder="Nombre">
                          </div>
                          <div class="input-group mb-3">
                              <span class="input-group-addon">
                                  <i class="icon-user"></i>
                              </span>
                              <input type="text" ng-model="lastname" class="form-control" placeholder="Apellido">
                          </div>
                          <!--<div class="input-group mb-3" ng-hide="checkAdminUser">
                              <span class="input-group-addon">
                                  <i class="icon-map"></i>
                              </span>
                              <input type="text" ng-model="country" class="form-control" placeholder="Pa&iacute;s">
                          </div>-->
                          <div class=" input-group mb-3 digi-input-select">
                            <div class="">
                              <div class="input-group mb-3" ng-hide="checkAdminUser">
                                  <span class="input-group-addon">
                                      <i class="icon-map"></i>
                                  </span>
                                  <select  ng-model="paiss"  class="form-control" ng-options="pais as pais for pais in paises | orderBy:pais">
                                      <option value="">Seleccione un país</option>
                                  </select>
                              </div>
                            </div>
                            <div class="">
                              <div class="input-group mb-3" ng-hide="checkAdminUser">
                                  <span class="input-group-addon">
                                      <i class="icon-map"></i>
                                  </span>
                                  <select  class="form-control" ng-init="collegeId=colleges[0]" ng-model="college"  ng-options="college as college.Nombre for college in colleges | filter:paiss">
                                      <option value="">Seleccione una universidad</option>
                                  </select>
                              </div>
                            </div>
                          </div>
                          <div class="input-group mb-3">
                              <span class="input-group-addon">@</span>
                              <input type="email" ng-model="email1" class="form-control" placeholder="Email 1">
                          </div>

                          <div class="input-group mb-3" ng-hide="checkAdminUser">
                              <span class="input-group-addon">@</span>
                              <input type="email" ng-model="email2" class="form-control" placeholder="*Email 2">
                          </div>

                            <div class="input-group mb-3" >
                                <span class="input-group-addon">
                                    <i class="icon-user"></i>
                                </span>
                                <input type="number" ng-model="id" class="form-control" placeholder="Carnet">
                            </div>
                            
                            
                          <div class="input-group mb-3">
                              <span class="input-group-addon"><i class="icon-lock"></i>
                              </span>
                              <input type="password" ng-model="pass" class="form-control" placeholder="Contrase&ntilde;a">
                          </div>

                          <div class="input-group mb-4">
                              <span class="input-group-addon"><i class="icon-lock"></i>
                              </span>
                              <input type="password"  ng-model="password"  class="form-control" placeholder="Repetir Contrase&ntilde;a">
                          </div>

                          <div class="input-group mb-3" ng-hide="checkAdminUser">
                              <span class="input-group-addon">
                                  <i class="icon-phone"></i>
                              </span>
                              <input type="number"  ng-model="cellphone"  class="form-control" placeholder="Tel&eacute;fono M&oacute;vil">
                          </div>
                          <div class="input-group mb-3" ng-hide="checkAdminUser">
                              <span class="input-group-addon">
                                  <i class="icon-phone"></i>
                              </span>
                              <input type="number"  ng-model="phone"  class="form-control" placeholder="Tel&eacute;fono Fijo">
                          </div>

                            <div class="row">
                                <div class=" input-group mb-3 photo-description" ng-hide="checkAdminUser">
                                    <div class="user-photo-profile">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary"><i class="fa fa-camera"></i> Cargar</button>
                                                </span>
                                                <input type="text" ng-model="photo" id="input1-group2" name="input1-group2" class="form-control" placeholder="Foto perfil">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-md-12" ng-hide="checkAdminUser">
                                    <textarea id="textarea-input" ng-model="description" name="textarea-input" rows="9" cols="9" class="form-control" placeholder="Descripción.."></textarea>
                                </div>

                            </div>

                                <div class="card card-accent-secondary digi-skills-container" ng-hide="checkAdminUser">
                                    <div class="card-header">
                                        <p>Habilidades</p>
                                    </div>
                                    <div class="digi-skill-category-container">
                                        <div class="card form-group " ng-repeat="category in categories">
                                            <label class="card-header form-control-label">{{category.name}}</label>
                                            <div class="col-md-9 cheks-align">
                                                <div class="checkbox" ng-repeat="skill in category.skills">
                                                    <label for="{{skill}}">
                                                        <!--<input type="checkbox" id="{{category}}+{{skill}}" name="{{category}}+{{skill}}" value="skill">{{skill}} </input>-->
                                                        <input type="checkbox"  ng-model="skillcheckbox" ng-checked="" name="{{skill.name}}">{{skill.name}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-6 ">
                                        <button type="button" ui-sref="appSimple.login" class="btn btn-primary px-4">Cancelar</button>
                                    </div>
                                    <div class="col-6 ">
                                        <button type="button" class="btn btn-block btn-success" ng-click="registerUser()">Finalizar</button>
                                    </div>
                                </div>
                         </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
